@charset "utf-8";
@font-face {
    font-family: 'gagalin';
    src: url('../fontes/gagalin.otf') format('opentype');
    font-weight: normal;
}


*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
    color: white;
}

.header{
    background-color: red;
    padding: 9px;
   border-bottom-left-radius: 12px;
   border-bottom-right-radius: 12px;
}
.header h1{
    font-family: 'gagalin';
 font-size: normal;
}

.header> h3{
    font-family: Arial, Helvetica, sans-serif;
padding-top: 20px;
}

.container{
   margin: auto;
    
}


